* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  list-style-type: none;
  box-sizing: border-box;
  font-weight: 400;
  text-align: center;
  text-shadow:1px 1px 1px 1px #42526e;
}

/* Header + Nav-bar */

.desktop-nav-bar {
  display: none;
}

@media only screen and (min-width: 768px) {
  .desktop-nav-bar {
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
  }

  .desktop-nav-bar > * {
    margin: 15% 9%;
    font-weight: 600;
    color: #344563;
    font-style: normal;
    line-height: 20px;
    line-height: 110%;
  }

  .nav-bar,
  .nav-bar > * {
    display: none;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  text-decoration: solid;
}

.nav-bar > * {
  margin: 0.5rem 0.5rem 0 0.5rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.nav-bar > img {
  visibility: visible;
  width: 1.5rem;
  height: 1.5rem;
}

/* First Section */

.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url(./Assets/Images/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 55vh;
  width: auto;
}

/* Ajust background for wider screens */

@media only screen and (min-width: 768px) {
  .intro-section {
    background: url(./Assets/Images/Header-llustration-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
  }
}

.intro-section__title {
  margin: 4rem 1rem 0 1rem;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.intro-section__subtitle {
  margin: 1rem 1rem 1rem 1rem;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #22ab72;
}

.intro-section__text {
  margin: 1rem 1rem 1rem 1rem;
  font-size: 20px;
  line-height: 28px;
  max-width: clamp(30ch, 40ch, 50ch);
}

.intro-section__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.intro-section__social > li {
  justify-items: center;
  text-decoration: none;
  margin: 4rem 1rem 4rem 1rem;
}

.intro__arrowdown {
  margin: 0 8% 18% 8%;
  animation: updownanimation 2s ease infinite;
}

@keyframes updownanimation {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

/* Section 2 Recent Work Section */

.recentwork__Maintitle {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.recentwork__Maintitle > * {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.recentwork__Maintitle > div {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin: 4rem 1rem 1rem 1rem;
}

.recentwork-section {
  padding: 0% 5%;
  max-width: 100%;
}

.workcard {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  justify-content: center;
  border: 0.1rem solid #c1c7d0;
  width: auto;
  height: auto;
  margin: 5% 5%;
  overflow: hidden;
}

/* Transforms language section into row (PS: using grid-template-columns property) */
@media only screen and (min-width: 768px) {
  .media-recentwork-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
  }

  .workcard__title {
    font-family: 'Poppins', sans-serif;
  }
}

.workcard__image {
  flex-grow: 1;
  height: 35vh;
  background-color: #ebf0ee;
  border-radius: 1rem 1rem 0 0;
}

.workcard__title {
  font-weight: 600;
  border-radius: 0.5rem 0.5rem 0 0;
  min-height: 5vh;
  margin: 2rem 0 0.5rem 0;
  font-size: 24px;
  line-height: 32px;
}

.workcard__tags {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
}

/* Sugestion for later: insert information in the parent // using clamp instead of calc() */
.workcard__tags * {
  color: #3a4a42;
  background-color: #ebf0ee;
  border-radius: 0.25rem;
  padding: 0 0.75rem 0 0.75rem;
  margin: 0.3rem;
  width: auto;
  height: 1rem;
  font-weight: 600;
  font-size: calc(12 / 16 * 1rem);
  line-height: 1rem;
  letter-spacing: 0.03em;
}

.btn__see_project,
.btn__see_project:enabled {
  cursor: pointer;
  background-color: #36b37f;
  border-radius: calc(4 / 16 * 1rem);
  font-weight: 500;
  font-size: calc(15 / 16 * 1rem);
  line-height: calc(24 / 16 * 1rem);
  color: white;
  align-self: center;
  flex: none;
  flex-grow: 0;
  letter-spacing: 0.03em;
  width: calc(159 / 16 * 1rem);
  height: calc(48 / 16 * 1rem);
  margin: 1.5rem;
}

.btn__see_project:hover,
.btn__see_project:focus {
  background-color: #36b37f;
  border-radius: calc(4 / 16 * 1rem);
  font-weight: 500;
  font-size: calc(15 / 16 * 1rem);
  line-height: calc(24 / 16 * 1rem);
  text-decoration-color: white;
  align-self: center;
  flex: none;
  flex-grow: 0;
  letter-spacing: 0.03em;
  width: calc(159 / 16 * 1rem);
  height: calc(48 / 16 * 1rem);
  box-shadow: 0 8px 16px 0 rgba(54, 179, 127, 0.24);
  margin: 1.5rem;
}

.btn__see_project:active {
  background-color: #008552;
  border-radius: calc(4 / 16 * 1rem);
  font-weight: 500;
  font-size: calc(15 / 16 * 1rem);
  line-height: calc(24 / 16 * 1rem);
  text-decoration-color: white;
  align-self: center;
  flex: none;
  flex-grow: 0;
  letter-spacing: 0.03em;
  width: calc(159 / 16 * 1rem);
  height: calc(48 / 16 * 1rem);
  margin: 1.5rem;
}

/* SECTION ABOUT ME */

.about-section {
  display: flex;
  flex-direction: column;
  background: url(./Assets/Images/aboutmebottom.png), url(./Assets/Images/aboutmetop.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top right;
  min-height: 60vh;
  justify-content: space-between;
  align-items: center;
}

/* Background-repeat: 2x(no-repeat) need to be on both screen sizes to work */
@media only screen and (min-width: 768px) {
  .about-section {
    background: url(./Assets/Images/illustration-about-me-2-desktop.svg), url(./Assets/Images/illustration-about\ me-1-desktopaboutmecenter-right.svg);
    background-position: bottom left, top right;
    background-repeat: no-repeat, no-repeat;
  }
}

.about-section > p {
  max-width: clamp(50ch, 60ch, 100ch);
  font-size: 20px;
  line-height: 32px;
  margin: 10% 5%;
}

.about-section > h2 {
  margin: 1rem 0 1.5rem 0;
  width: auto;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  height: auto;
  margin-bottom: 5%;
  margin-top: 4%;
}

/* Section of Languages, Skills and Frameworks */

.section-languages {
  display: grid;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  flex-basis: 100%;
  padding: 0% 5%;
}

/* Transforms language section into row (PS: using grid-template-columns property) */
@media only screen and (min-width: 768px) {
  .section-languages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
  }
}

.section-languages > div {
  margin: 3% 3%;
  margin-top: 8%;
}

.section-languages-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebf0ee;
  border: calc(1 / 16 * 1rem) solid #c1c7d0;
  border-radius: 0.5rem;
  justify-content: space-around;
  height: 75vh;
}

.languagescard__tags {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.languagescard__tags > li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  background: #fff;
  padding: 0 0.3rem 0 0.3rem;
  margin: 0.3rem;
  flex-wrap: wrap;
  min-width: 60px;
  font-weight: 600;
  color: #36b37e;
  width: fit-content;
  height: 35px;
}

/* Section Contact Form OBS: Use a class to store the display flex atribute, instead of repeating */

.contactform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  height: auto;
  padding: 1.5rem;
  background: url("./Assets/Images/illustration-contact-form.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-top: 10%;
}

/* Background-repeat: 3x(no-repeat) need to be on both screen sizes to work
also position with % refering to x and y axis */
@media only screen and (min-width: 768px) {
  .contactform {
    background: url(./Assets/Images/illustration-1-contact-form-desktopdesktopbottom-left.svg), url(./Assets/Images/illustration-2-contact-form-desktopmiddle.svg), url(./Assets/Images/contact\ form-illustratoin-3-desktopbottom-right.svg);
    background-position: bottom left, 20% 95%, bottom right;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
}

.media-contactform > h2 {
  margin: 5rem 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .media-contactform > h2 {
    max-width: 25ch;
    font-size: 30px;
    padding-left: 5%;
  }

  /* .media-contactform > .btn-end {
    display: flex;
    direction: column;
  } */

  .media-contactform {
    display: flex;
    justify-content: space-between;
  }
}

.contactform__social {
  display: flex;
  justify-content: center;
  width: auto;
}

.contactform__social > *,
.email {
  align-items: center;
  margin: 1rem 1rem 1rem 1rem;
  font-size: 20px;
  line-height: 32px;
}

.email {
  color: #42526e;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.contactform__name {
  margin: 9% 4% 5% 4%;
  height: 48px;
  width: 80%;
  padding-left: 4%;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

.contactform__email {
  margin: 2% 4% 5% 4%;
  align-self: auto;
  height: 48px;
  width: 80%;
  padding-left: 4%;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

.contactform__message {
  margin: 2% 4% 1% 4%;
  align-items: auto;
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 4px;
  width: 80%;
  padding-left: 4%;
  padding-top: 2%;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

.displaynone {
  color:#fff;
}

.required::after::first-letter {
  /* content: "*"; */
  color: red;
}

.btn-end {
  margin: -6% 0 9% 0;
  width: calc(129 / 16 * 1rem);
  height: calc(48 / 16 * 1rem);
}

@media only screen and (min-width: 768px) {
  .email {
    display: none;
  }

  .footer-bg {
    background: url(./Assets/Images/Rectangle\ 42footer-rectagle.svg);
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    width: 100vw;
  }
}

/* Section footer */

footer {
  margin: 8% 4% 1% 4%;
}
