/* {
  border: 1px solid grey;
  padding: 0;
  margin: 0;
} */

@font-face {
  font-family: Inter, serif;
  src: url("./Assets/Images/InterFont.ttf");
}

body {
  font-family: Inter, serif;
}

.imgmain {
  background: url(./Assets/Images/header-illsutration-mobile.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  overflow: hidden !important;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 10%;
  left: 0%;
}

.textmain {
  margin: 42% 3% 0% 3%;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 5%;
  margin: 0;
  padding: 0;
  background-color: white;
}

li {
  display: inline-block;
}

li a {
  display: block;
  padding: 8%;
  text-decoration: none;
  color: #0a0a0a;
}

.first__section {
  height: 100vh;
  flex-grow: 1;
}

h1 {
  align-self: center;
  justify-content: center;
}

.social__media {
  height: 20%;
  display: flex;
  justify-content: center;
}

.social__media div {
  align-self: flex-end;
  margin: 2%;
}

.button-disabled {
  text-align: center;
  margin-bottom: 3%;
}

.recent-work {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
}

.second__section {
  padding: 3%;
  flex-grow: 1;
  height: 100%;
}

.card__view {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px !important;
  justify-content: center;
  border: 2px solid grey;
}

.view {
  flex-grow: 1;
  height: 220px;
  background-color: #ebf0ee;
  border-radius: 15px 15px 0 0 !important;
}

.title__view,
h2 {
  flex-grow: 1;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.language_tag {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.language_tag div {
  background-color: #ebf0ee;
  border-radius: 10%;
  padding: 0 20px 0 20px;
  gap: 16px;
  flex-grow: 1;
}

.btn__see_project {
  background-color: #36b37f;
  border-radius: 10px;
  padding: 5px 25px 5px 25px;
  width: fit-content;
  color: white;
  align-self: center;
  margin: 12px;
}

.btn__see_project:active {
  background-color: #36b37f;
  border-radius: 10px;
  padding: 5px 25px 5px 25px;
  width: fit-content;
  color: white;
  align-self: center;
  box-shadow: 0 8px 16px 0 rgba(54, 179, 127, 0.24);
}

.btn__see_project:enabled {
  background-color: #008552;
  border-radius: 10px;
  padding: 5px 25px 5px 25px;
  width: fit-content;
  color: white;
  align-self: center;
}


.tcenter {
  text-align: center;
  padding: 3%;
  background-image: url(Assets\Images\illustration-aboutme-mobile.svg);
}

.aboutbg {
  display: flex;
  flex-direction: column;
}

.aboutmetop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.aboutmetop > div {
  flex-grow: 1;
  padding: 0;
}

.aboutmebottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.aboutmebottom > div {
  flex-grow: 1;
  padding: 3%;
}

.btn__see_project:active {
  margin: auto;
  justify-content: center;
  text-align: center;
  background-color: #c1c7d0;
  border-radius: 10px;
  padding: 5px 25px 5px 25px;
  width: fit-content;
  color: white;
  align-self: center;
}

.maindivlast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 3%;
}

.maindivlast > div {
  flex-grow: 1;
  padding: 3%;
}

#languages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#languages > div {
  flex-grow: 1;
  padding: 3%;
}

#Frameworks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: 20px solid color(black);
  padding: 1;
}

#Frameworks > div {
  flex-grow: 1;
  padding: 3%;
}

#Skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#Skills > div {
  flex-grow: 1;
  padding: 3%;
}

/* For Mobile HTML */
/* For Menu-Mobile HTML */

.menu-mobile {
  display: grid;
  flex-direction: column;
  justify-content: end;
  background-color: white;
  width: 25%;
  height: 80%;
  position: relative;
}

.menu-mobile > image,
h3 {
  align-items: left;
  margin: 20px;
  padding: 20px;
}

.fieldbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
}

.fieldbox > * {
  flex-grow: 1;
  padding: 3%;
  margin: 5px;
}
